In [26]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import math

In [35]:
df = pd.read_csv("data/home_prices.csv")
df = df[0:5]

In [36]:
median_bedrooms = math.floor(df.bedrooms.median())
df.loc[2, 'bedrooms'] = median_bedrooms

In [37]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [38]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [39]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [40]:
reg.intercept_

383724.9999999998

In [43]:
reg.predict([[3000, 3, 40]])

array([444400.])

In [45]:
# formula
137.25 * 3000 + -26025 * 3 + -6825 * 40 + 383724.9999999998

444399.9999999998